.food {
  background-image: url("../img/wood-316612_1280.jpg");

  &__title {
    text-align: center;

    font-size: 30px;
    line-height: 40px;
    margin-top: 30px;
    font-family: "Merienda One";
  }

  .one {
    background-color: rgba(36, 32, 32, 0.678);
    color: rgb(190, 190, 190);
    text-align: center;
    padding: 10px 5px;
    margin: 23px;
    border: 5px ridge rgb(99, 100, 99);
    box-shadow: 6px 6px 10px 3px rgba(0, 0, 0, 0.75);

    &__title {
      text-align: center;
      text-decoration: underline;
      padding: 20px;
      letter-spacing: 1px;
      color: rgb(199, 185, 185);

      font-family: "Merienda One";
    }
    &__description {
      padding: 10px;
      text-align: justify;
      font-family: "Courgette";
    }
    &__img {
      width: 85%;
      border-radius: 20%;
      margin: 10px 0;
    }
  }
}

@media (min-width: 600px) {
  .food {
    .one {
      padding: 25px;
      margin: 13%;
    }
  }
}

@media (min-width: 900px) {
  .food {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &__one {
      width: 45%;
    }
    .one {
      margin: 2%;
    }
  }
}

@media (min-width: 1200px) {
  .food {
    &__one {
      width: 40%;
    }
  }
}
